# Database Configuration
# Connection URL for the PostgreSQL database (used by Prisma)
DATABASE_URL="postgresql://postgres:password@localhost:5432/db?schema=public"

# Server Configuration
# The port number on which the server will listen
PORT=3000

# Client Application URL
# Used for CORS configuration to allow cross-origin requests from the client
APP_URL=http://localhost:3000

# Security Configuration
# Salt rounds count for bcrypt password hashing
BCRYPT_SALT_ROUNDS=10

# JWT Configuration
# Secret key used for signing JWT access tokens
JWT_ACCESS_SECRET=""
# Secret key used for signing JWT refresh tokens
JWT_REFRESH_SECRET=""
# Lifespan/expiration time of JWT access tokens (e.g., 15m, 1h, 1d)
JWT_ACCESS_EXPIRATION="1h"
# Lifespan/expiration time of JWT refresh tokens (e.g., 7d, 30d)
JWT_REFRESH_EXPIRATION="7d"

# Stripe Configuration
STRIPE_PRODUCT_ID=""
STRIPE_PRICE_ID=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

